@media only screen and (min-width: 1920px)  {
  /* HD*/


}
@media only screen and (min-width: 1680px) and (max-width: 1920px) {
  /* MacBook Pro 2020 15"*/

}

@media only screen and (min-width: 1400px) and (max-width: 1680px) {
  /* MacBook Pro 2020*/

}


@media only screen and (min-width: 1024px) and (max-width: 1400px) {
  /* Macbook Air 11.6" */

}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* iPad Portrait */

}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  /* промежуток */
  p, .btn_dalee p{
    font-size: 18px;
  }
  .setka .center_gap {
    width: 100vw;
    height: calc(100vh - 12vw);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .2fr .8fr .2fr .8fr .2fr;
    align-items: center;
    justify-items: center;
  }
  .setka .conteiner_2 {
    width: 30vw;
    height: 30vw;
    grid-area: 2/2/3/3;
    grid-template-columns: 15vw 15vw;
    grid-template-rows: 15vw 15vw;
  }
  .setka .conteiner_4 {
    width: 30vw;
    height: 30vw;
    grid-template-columns: 7.25vw 7.25vw 7.25vw 7.25vw;
    grid-template-rows: 7.25vw 7.25vw 7.25vw 7.25vw;
    grid-area: 4/2/5/3;
  }
  .setka .conteiner_2 .square_2{
    width: 15vw;
    height: 15vw;

        /* outline: solid 3px black; */
  }
  .setka .conteiner_4 .square_4{
    width: 7.5vw;
    height: 7.5vw;
        /* outline: solid 3px black; */
  }
  .setka .center_gap p {

  }
  #p2{
    grid-area: 3/2/4/3
    justify-items: center;

  }
  #p4{
    grid-area: 5/2/6/3
  }
  .top_text {
    width: 50vw;
  }
}

@media only screen and (min-device-width: 375px) and (max-device-width: 480px) {
  /* iPhone X */

}


@media only screen  and (max-device-width: 375px)  {
  /* iPhone SE */

}

@media print {
  *{
    display: none!important;
  }
  .redactor_div{
    display: grid!important;

  }
  .red_square{
    display:inline-grid!important;
  }
}
/*
1680x1050 (MacBook Pro ’15.4)

1440x900 (MacBook Pro ’15)

1366x768 (MacBook Air ’11.6)

1280x800 (MacBook Pro ’13)*/
