.head p{
padding-top: 2vw;
padding-left: 3vw;

}

.begin{
width: 100%;
height: 100%;
display: grid;
grid-template-columns: repeat(10, 1fr);
/* grid-template-rows:  repeat(5, 1fr); */
grid-template-rows:  auto;

}
.hidden{
  transition: .2s;
  opacity: 0;
}
.blocker{
  display: none;
}
.head{
  /* width: 50vw;
  height: 10vw; */
  grid-column-start: 1;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 2;

  background-color: black;
  color: white;
  font-family:OCRONEC;
  font-size: 30px;
}
@font-face {
  font-family: "OCRONEC";
  src: url(OCRONEC_.OTF) format("TrueType");
  font-style: normal;
  font-weight: normal;
  /* OCRONEC_.OTF */
}

.quater{
  width: 10vw;
  height: 10vw;
  border-radius: 10vw 0 0 0;
  background-color: black;
  display: inline-grid;
  position: relative;
}
.small_box{
  width: 10vw;
  height: 10vw;
  display: grid;
  grid-template-columns: 5vw 5vw;
  grid-template-rows: 5vw 5vw;
}
.small_box_1{
  width: 10vw;
  height: 5vw;
  display: grid;
  grid-template-columns: 5vw 5vw;
  grid-template-rows: 5vw ;
}
.small {
  width: 5vw;
  height: 5vw;
}
.transperent{
  opacity: 0;
}
.big {
  width: 20vw;
  height: 20vw;
  border-radius: 20vw 0 0 0;
}
.b_1{
  grid-area: 1 / 7 / 3 / 9  ;
  /* grid-column-start: 7;
  grid-column-end: 9;
  grid-row-start: 1;
  grid-row-end: 3; */
}
.b_2 {
  grid-area: 3 / 9 / 5 / 11;
}
.b_3 {
  grid-area: 3 / 7 / 5 / 9;
}
.b_4 {
  grid-area: 1 / 9 / 3 /11;
}


.footer{
  width: 100vw;
  background-color: black;
  height: 5vw;
  display: inline-grid;
  position: relative;
  grid-column-start: 1;
  grid-column-end: 11;
  }

.btn {
  width: 20vw;
  height: 20vw;
  /* background-color: orange; */
  /* outline: solid 5px black; */

  border: solid 5px black;
  color: black;
  border-radius: 20vw;
  display: inline-grid;
  grid-column-start: 5;
  grid-column-end: 7;
  grid-row-start: 3;
  grid-row-end: 5;
  font-family: OCRONEC;
  font-size: 18px;
  text-align: center;
  padding-top: 9vw;
  vertical-align: middle;
  box-sizing: border-box;
}
.btn:hover {
  background-color: black;
  color: white;
  transition: .2s;
}


.info {
  width: 5vw;
  height: 5vw;
  background-color: white;

  position: absolute;
  left: 2vw;

  mask-type: alpha;
  mask-size: no-repeat;
  -webkit-mask: url(https://raw.githubusercontent.com/Kovriki/interactive_web_poster/2a1dcc8b54ab0b3c49c348e5897e5a21c34135f3/images/info_icon.svg)
}

.disco {
  width: 5vw;
  height: 5vw;
  background-color: white;

  position: absolute;
  right: 2vw;

  mask-type: alpha;
  -webkit-mask: url(https://raw.githubusercontent.com/Kovriki/interactive_web_poster/2a1dcc8b54ab0b3c49c348e5897e5a21c34135f3/images/disco_icon.svg)
}

.setka {
  width: 100vw;
  height: 100vh;
  /* background-color: blue; */
  /* opacity: 0; */
}

.top_bar {
  width: 100vw;
  height: 6vw;
  border-bottom: solid 5px black;
}
.btn_dalee{
  width: 20vw;
  height: 8vw;
}
.btn_dalee p {
  font-family:OCRONEC;
  font-size: 30px;
  color: black;
}
.top_text{
  width: 30vw;
  height: 8vw;
  font-family:OCRONEC;
  font-size: 30px;
  color: black;
}
.top_text p {
  padding-top: 1.5vw;
  padding-left: 3vw;

}
/* .box {
  width: 100%;
  height: 100%;
  background-color: orange;
  display: grid;
  grid-template-columns: 100px 100px 100px 100px 100px;
  grid-template-rows: 100px 100px 100px;
}
.box_1{
  width: 100px;
  height: 100px;
  background-color: yellow;
  display: grid;
  grid-template-columns: 50px 50px;
  grid-template-rows: 50px 50px;
} */
